{{!-- <p> {{user.username}} holiday to {{destination_location}} from {{start_date}} to {{end_date}}</p> --}}



<td>
    <ul id="name-list">{{expense_name}}</ul>
</td>

<td>
    <ul id="cost-list">{{cost}}</ul>
</td>

<td>
    <ul id="category-list">{{category}}</ul>
</td>